.videoCourseContainer {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.togglePlaylistBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    z-index: 601;
    transition: 0.3s background;
    animation: playlistBtn 10s infinite linear;
}

.togglePlaylistBtn.active {
    left: 270px;
    bottom: auto;
    top: 60px;
    transition: 0.3s;
    z-index: 1000;
}

@keyframes playlistBtn {
    0% { background: rgb(255, 0, 76); }
    50% { background: rgb(29, 29, 29); }
    100% { background: rgb(255, 0, 76); }
}

.videoCourseContainer .videoSection {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    opacity: 0;
    transition: 0.3s;
}
.videoCourseContainer .videoSection.show {
    opacity: 1;
}

.videoCourseContainer .videoSection .videoSource{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
.videoCourseContainer .videoSection .videoSource{
    /* width: 100%;
    height: 100%; */
    /* object-fit: cover; */
}

.videoCourseContainer .courseDetailsSection {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.videoCourseContainer .videoCourseTitle {
    font-size: 30px;
}

.videoCourseContainer .courseDetailsSection .instructorDetails {
    display: flex;
    gap: 5px;
    padding: 5px;
    flex-direction: column;
    font-size: 13px;
    color: gray;
    text-transform: uppercase;
}

.videoCourseContainer .courseDetailsSection .priceInfo {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.videoCourseContainer .courseDetailsSection .priceInfo .originalPrice {
    font-size: 13px;
    text-decoration: line-through;
}

.videoCourseContainer .courseDetailsSection .priceInfo .salePrice {
    font-size: 25px;
}

.videoCourseContainer .courseDetailsSection .startCourseBtn {
    background-color: rgb(255, 0, 76);
    font-size: 20px;
    padding: 10px;
    color: white;
    white-space: nowrap;
}

.videoSection .videoSource {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
    border-radius: 20px;
    border: 5px solid rgb(26, 26, 26);
}

.videoCourseContainer .playlistSection {
    width: 40%;
    max-width: 450px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.527);
    padding: 10px;
    min-height: 100%;
    border-radius: 20px;
    box-shadow: 1px 1px 3px 3px rgb(242, 246, 255);
    opacity: 0;
    transition: 0.3s;
  }

  .videoCourseContainer .playlistSection#show {
      opacity: 1;
  }

.videoCourseContainer .playlistSection .playlistItems {
    min-height: 200px;
    max-height: 500px;
    margin-top: 20px;
    width: 100%;
    overflow-y: auto;
}

.videoCourseContainer .playlistSection .playlistItems::-webkit-scrollbar {
    width: 5px;
}

.videoCourseContainer .playlistSection .playlistItems::-webkit-scrollbar-thumb {
    background-color: rgb(36, 36, 36);
    border-radius: 30px;
}

.playlistItems .playlistItemEnrolled {
    height: 80px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 40px 5px 5px 40px;
    /* border-bottom: 1px solid red; */
}

.playlistItems .playlistItemEnrolled .lectureInfo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.playlistItems .playlistItemEnrolled .statusIcon.enrolledStatusIcon {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    background-color: rgb(188, 255, 31);
}

.playlistItems .playlistItemEnrolled .lectureInfo img {
    height: 80%;
    width: 80%;
    object-fit: contain;
    /* filter: invert(); */
}

.playlistItems .playlistItemEnrolled .lectureDesc .lectureSubtitle {
    font-size: 12px;
    color: rgb(44, 44, 44);
    text-overflow: ellipsis;
    max-width: 200px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
}

.playlistItems .playlistItemEnrolled .lectureLock {
    height: 100%;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.playlistItems .playlistItemEnrolled .lectureLock .statusImgEnrolled {
    height: 13px;
    width: 13px;
    display: inline-block;
    vertical-align: red;
}

.playlistItems .playlistItemEnrolled .recentLectureIndicator {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid rgb(255, 0, 85);
}

.playlistItems .playlistItemEnrolled.active {
    color: rgb(255, 255, 255);
    transition: 0.5s linear;
    background-color: rgb(0, 21, 53);
}
.playlistItems .playlistItemEnrolled.active .lectureInfo img {
    filter: invert();
}

.playlistItems .playlistItemEnrolled.active .lectureInfo .statusIcon {
    background-color: black;
    transition: 0.3s background-color;
}

.playlistItems .playlistItemEnrolled.active .lectureDesc .lectureSubtitle {
    color: rgb(200, 222, 255);
}

.playlistItems .playlistItemEnrolled.active .lectureLock .statusImgEnrolled {
    height: 13px;
    width: 13px;
    display: inline-block;
    filter: invert();
}

.playlistItems .playlistItemEnrolled.active .recentLectureIndicator {
    border: 1px solid rgb(255, 255, 255);
}

/* ---------- Video Wrapper ---------- */
.videoPlayer {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.videoPlayer::before {
  content: attr(data-lesson); 
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  min-width: 150px;
  width: 100%;
  max-height: 100px;
  height: 40px;
  color: white;
  background: rgba(0, 0, 0, 0.568);
  backdrop-filter: blur(5px);
  z-index: 2;
  padding: 5px;
  transition: opacity 0.5s ease;
}

.videoPlayer::before {
  opacity: 1;
  pointer-events: none;
}

.videoPlayer.activePlay::before {
  transition: 0.3s;
  opacity: 0;
}

.videoPlayer:hover::before,
.videoPlayer[poster=""]::before {
  opacity: 0;
  pointer-events: none;
}

/* ---------- Media Queries ---------- */
@media (max-width: 1100px) {
  .videoCourseContainer {
      justify-content: center;
  }
  .togglePlaylistBtn {
      display: block;
  }
  .videoCourseContainer .videoSection {
      width: 100%;
  }
  .videoCourseContainer .videoCourseTitle {
      font-size: 20px;
  }
  .videoCourseContainer .playlistSection {
      position: fixed;
      top: 0;
      width: 370px;
      padding-left: 30px;
      left: -120%;
      max-height: 100%;
      overflow-y: auto;
      padding-top: 70px;
      z-index: 600;
      backdrop-filter: blur(10px);
      transition: 0.3s ease-in-out;
      background-color: rgb(255, 255, 255);
  }

  .videoCourseContainer .playlistSection.open {
      left: 0;
  }
  .videoCourseContainer .playlistSection .playlistItems {
      max-height: none;
  }
}

@media (max-width: 575px) {
  .videoSection .videoSource {}
  .videoCourseContainer .courseDetailsSection .instructorDetails {
      font-size: 12px;
  }
  .videoCourseContainer .courseDetailsSection .startCourseBtn {
      font-size: 13px;
  }
  .videoCourseContainer .courseDetailsSection .priceInfo .originalPrice {
      font-size: 10px;
  }
  .videoCourseContainer .courseDetailsSection .priceInfo .salePrice {
      font-size: 20px;
  }
}

@media (max-width: 400px) {
  .videoCourseContainer .courseDetailsSection .instructorDetails {
      font-size: 9px;
  } 
  .videoCourseContainer .playlistSection {
      width: 100%;
      min-width: none;
      padding-left: 10px;
  }
  .playlistItems .playlistItemEnrolled .statusIcon {
      font-size: 10px;
  }
  .togglePlaylistBtn.active {
      left: auto;
      right: 10px;
  }
}

@media (max-width: 350px) {
  .playlistItems .playlistItemEnrolled .lectureDesc .lectureSubtitle {
      width: 100px;
  }
}
