.loginMain{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingIcon{
    color: white;
}

.loginMain .formDivLogin form{
    height: 450px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    place-items: center;
    background-color: #ffffff;
    border-radius: 20px;
}


.formDivLogin form input{
    height: 50px;
    width: 80%;
    border: none;
    outline: none;
    text-align: center;
    border: 1px solid rgb(222, 206, 255);
    border-radius: 20px;
    /* background-color: rgb(245, 242, 255); */
}

.formDivLogin form input:focus{
    border: 2px solid rgb(22, 22, 22);
    box-shadow: 0 0 0 3px rgba(136, 0, 255, 0.1);
}

    /* border-color: var(--login-btn-gradient-start);
    box-shadow: 0 0 0 3px rgba(142, 45, 226, 0.1);
    outline: none;
 */


.formDivLogin form button{
    width: 80%;
    height: 50px;
    border-radius: 20px;
    font-size: 17px;
    color: white;
    background-color: rgb(0, 0, 0);
}







@media (max-width: 500px){

    .loginMain .formDivLogin form{
        min-width: 100%;
        max-width: 90vw;
        width: 400px;
        text-align: center;
    }

    .formDivLogin form input{
        width: 95%;
    }

    .linkToPrev{
    /* flex-direction: column;  */
     align-items: center;
    max-width: 90vw;
    min-width: 100%;
    font-size: 13px;
    }

    .formDivLogin form button{
    width: 95%;
  
}

}